* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(151, 151, 190);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    position: relative;
    width: 12em;
    height: 12em;
}

label {
    display: flex;
    margin: 1.5em;
    align-items: center;
    flex-direction: column;
}

figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

p {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.7em;
}

input, button[type="button"] {
    border-radius: 1em;
    border: 1px solid black;
    margin: 0.5em;
    width: 20em;
    height: 4em;
    text-align: center;
}

::placeholder {
    color: black;
}

input[type="file"] {
    display: none;
}

button[type="button"] {
    background-color: black;
    color: white;
    margin: 1.5em;
}

button[type="button"]:active, p:active {
    background-color: rgb(37, 37, 37);
}