/* ----------- Login box --------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(151, 151, 190);
}

div#logBox {
    display: flex;
    width: 100vw;
    height: 100vh;
}

div.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#line {
    border-right: 1px solid black;
    height: 50%;
    position: absolute;
}

form {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

div .inputs {
    height: max-content;
    width: max-content;
    text-align: center;
    padding: 3em;
}

input, button {
    margin: 1em auto;
    border-radius: 1ex;
    display: block;
    text-align: center;
    width: 25em;
    height: 4em;
}

input {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    color: black;
}

input:focus {
    background-color: aliceblue;
    color: black;
}

::placeholder {
    color: black
}

button {
    background-color: black;
    color: white;
    border: 0;
}

button:hover {
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(231, 231, 231);
}

/* --------------- Procurar Sala ------------------ */

div#roomSearch {
    border-left: 1px solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* --------------- Foto de perfil ---------------- */

figure {
    position: relative;
    text-align: center;
    width: 15em;
    height: 15em;
    right: 1em;
}

img {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.178);
    top: 0;
}

figcaption:hover {
    opacity: 1;
}

/* Mobile */
@media (max-width: 730px) and (orientation: portrait){
    div#logBox {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: flex-end;
    }

    div.container {
        background-color: rgb(151, 151, 190);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    div#line {
        display: none;
    }

    div .inputs {
        height: max-content;
        width: max-content;
        text-align: center;
        padding: 1.5em;
    }

    figure {
        right: 0;
    }

    figure h1 {
        padding: 0.5em;
        border-bottom: 1px solid black;
    }
}